RewriteEngine On

RewriteCond %{HTTP_HOST} !^blog\.wrtux\.top$ [NC]
RewriteRule ^ - [F,END]

RewriteCond %{HTTP_REFERER} !//(?:[^/]+\.)?wrtux\.top(?:/|$) [NC]
RewriteRule ^$ /main [R=302,L]

RewriteRule ^main$ /web/main.html

RewriteRule ^about$ /web/view.html
RewriteRule ^project$ /web/view.html

RewriteRule ^list$ /web/list.html
RewriteRule ^list/ /web/view.html

ErrorDocument 400 /web/error.shtml?400
ErrorDocument 401 /web/error.shtml?401
ErrorDocument 403 /web/error.shtml?403
ErrorDocument 404 /web/error.shtml?404
ErrorDocument 500 /web/error.shtml?500

Options +Indexes
IndexOptions Charset=UTF-8
IndexOptions -FancyIndexing
